<div class="d-flex align-items-center mb-4">
  <div class="fel__utils__avatarGroup mr-4 flex-shrink-0">
    <div class="fel__utils__avatar fel__utils__avatar--size46 fel__utils__avatar--rounded">
      <img src="../../components/core/img/avatars/1.jpg" alt="Mary Stanform" />
    </div>
    <div class="fel__utils__avatar fel__utils__avatar--size46 fel__utils__avatar--rounded">
      <img src="../../components/core/img/avatars/2.jpg" alt="Mary Stanform" />
    </div>
    <div class="fel__utils__avatar fel__utils__avatar--size46 fel__utils__avatar--rounded">
      <img src="../../components/core/img/avatars/3.jpg" alt="Mary Stanform" />
    </div>
    <div class="fel__utils__avatar fel__utils__avatar--size46 fel__utils__avatar--rounded">
      <img src="../../components/core/img/avatars/4.jpg" alt="Mary Stanform" />
    </div>
    <button class="fel__utils__avatarGroupAdd">
      <i class="fe fe-plus"></i>
    </button>
  </div>
  <a class="mr-4" href="javascript: void(0);">Only My Issues</a>
  <div>Recently Updated</div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="fel__jira__agile__board card height-500 bg-gray-1 py-3 px-2">
      <h3 class="font-weight-bold text-dark font-size-18 mb-3">Backlog</h3>
      <div class="fel__customScroll">
        <ul class="fel__jira__agile__boardCards">
          <li class="fel__jira__agile__card">
            <div class="fel__jira__agile__cardContent">
              <div class="fel__jira__agile__cardFlag bg-primary"></div>
              <div class="d-flex flex-wrap-reverse align-items-center">
                <h5 class="text-dark font-size-18 mt-2 mr-auto">Backend Issue</h5>
                <i class="fe fe-arrow-right-circle text-danger font-size-30 flex-shrink-0"></i>
              </div>
              <div class="text-gray-5 mb-2">Deadline 7:00</div>
              <div class="d-flex align-items-center flex-wrap pb-2">
                <div
                  class="fel__utils__avatar fel__utils__avatar--rounded fel__utils__avatar--size27 flex-shrink-0 mr-2"
                >
                  <img src="../../components/core/img/avatars/2.jpg" alt="Mary Stanform" />
                </div>
                <div class="text-gray-5">
                  <del>AWS-200</del>
                </div>
              </div>
            </div>
          </li>
          <li class="fel__jira__agile__card">
            <div class="fel__jira__agile__cardContent">
              <div class="fel__jira__agile__cardFlag bg-success"></div>
              <div class="d-flex flex-wrap-reverse align-items-center">
                <h5 class="text-dark font-size-18 mt-2 mr-auto">Prepare Activity List</h5>
                <i class="fe fe-arrow-left-circle text-success font-size-30 flex-shrink-0"></i>
              </div>
              <div class="text-gray-5 mb-2">Deadline 7:00</div>
              <div class="d-flex align-items-center flex-wrap pb-2">
                <div
                  class="fel__utils__avatar fel__utils__avatar--rounded fel__utils__avatar--size27 flex-shrink-0 mr-2"
                >
                  <img src="../../components/core/img/avatars/2.jpg" alt="Mary Stanform" />
                </div>
                <div class="text-gray-5">
                  <del>AWS-200</del>
                </div>
              </div>
            </div>
          </li>
          <li class="fel__jira__agile__card">
            <div class="fel__jira__agile__cardContent">
              <div class="fel__jira__agile__cardFlag bg-danger"></div>
              <div class="d-flex flex-wrap-reverse align-items-center">
                <h5 class="text-dark font-size-18 mt-2 mr-auto">Prepare Activity List</h5>
                <i class="fe fe-arrow-left-circle text-success font-size-30 flex-shrink-0"></i>
              </div>
              <div class="text-gray-5 mb-2">Deadline 7:00</div>
              <div class="d-flex align-items-center flex-wrap pb-2">
                <div
                  class="fel__utils__avatar fel__utils__avatar--rounded fel__utils__avatar--size27 flex-shrink-0 mr-2"
                >
                  <img src="../../components/core/img/avatars/2.jpg" alt="Mary Stanform" />
                </div>
                <div class="text-gray-5">
                  <del>AWS-200</del>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="fel__jira__agile__board card height-500 bg-gray-1 py-3 px-2">
      <h3 class="font-weight-bold text-dark font-size-18 mb-3">To Do</h3>
      <div class="fel__customScroll">
        <ul class="fel__jira__agile__boardCards fel__customScroll">
          <li class="fel__jira__agile__card">
            <div class="fel__jira__agile__cardContent">
              <div class="fel__jira__agile__cardFlag bg-success"></div>
              <div class="d-flex flex-wrap-reverse align-items-center">
                <h5 class="text-dark font-size-18 mt-2 mr-auto">Prepare Activity List</h5>
                <i class="fe fe-arrow-left-circle text-success font-size-30 flex-shrink-0"></i>
              </div>
              <div class="text-gray-5 mb-2">Deadline 7:00</div>
              <div class="d-flex align-items-center flex-wrap pb-2">
                <div
                  class="fel__utils__avatar fel__utils__avatar--rounded fel__utils__avatar--size27 flex-shrink-0 mr-2"
                >
                  <img src="../../components/core/img/avatars/2.jpg" alt="Mary Stanform" />
                </div>
                <div class="text-gray-5">
                  <del>AWS-200</del>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="fel__jira__agile__board card height-500 bg-gray-1 py-3 px-2">
      <h3 class="font-weight-bold text-dark font-size-18 mb-3">In Progress</h3>
      <div class="fel__customScroll">
        <ul class="fel__jira__agile__boardCards">
          <li class="fel__jira__agile__card">
            <div class="fel__jira__agile__cardContent">
              <div class="fel__jira__agile__cardFlag bg-success"></div>
              <div class="d-flex flex-wrap-reverse align-items-center">
                <h5 class="text-dark font-size-18 mt-2 mr-auto">Prepare Activity List</h5>
                <i class="fe fe-arrow-right-circle text-danger font-size-30 flex-shrink-0"></i>
              </div>
              <div class="text-gray-5 mb-2">Deadline 7:00</div>
              <div class="d-flex align-items-center flex-wrap pb-2">
                <div
                  class="fel__utils__avatar fel__utils__avatar--rounded fel__utils__avatar--size27 flex-shrink-0 mr-2"
                >
                  <img src="../../components/core/img/avatars/2.jpg" alt="Mary Stanform" />
                </div>
                <div class="text-gray-5">
                  <del>AWS-200</del>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="fel__jira__agile__board card height-500 bg-gray-1 py-3 px-2">
      <h3 class="font-weight-bold text-dark font-size-18 mb-3">Completed</h3>
      <div class="fel__customScroll">
        <ul class="fel__jira__agile__boardCards fel__customScroll"></ul>
        <div class="fel__jira__agile__emptyBoard"></div>
      </div>
    </div>
  </div>
</div>

<script>
  /////////////////////////////////////////////////////////////////////////////////////////
  // "JIRA" module scripts

  ;(function($) {
    'use strict'
    $(function() {
      /////////////////////////////////////////////////////////////////////////////////////////
      $(document).ready(function() {
        $('.fel__jira__agile__board').nestable({
          maxDepth: 1,
          listNodeName: 'ul',
          itemNodeName: 'li',
          rootClass: 'fel__jira__agile__board',
          listClass: 'fel__jira__agile__boardCards',
          itemClass: 'fel__jira__agile__card',
          handleClass: 'fel__jira__agile__cardContent',
          emptyClass: 'fel__jira__agile__emptyBoard',
        })
      })
      /////////////////////////////////////////////////////////////////////////////////////////
    })
  })(jQuery)
</script>
