<div class="row">
  <div class="col-lg-6">
    <div class="card fel__utils__cardMarked fel__utils__cardMarked--primary">
      <div class="card-header card-header-flex">
        <div class="d-flex flex-column justify-content-center">
          <h5 class="mb-0">Introduction</h5>
        </div>
        <div class="ml-auto d-flex flex-column justify-content-center">
          <div>
            <div class="dropdown d-inline-block">
              <button
                type="button"
                class="btn btn-light dropdown-toggle dropdown-toggle-noarrow"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fe fe-more-vertical"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-start">
                <a class="dropdown-item" href="javascript: void(0)">Action</a>
                <a class="dropdown-item" href="javascript: void(0)">Another action</a>
                <a class="dropdown-item" href="javascript: void(0)">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript: void(0)">Separated link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h3 class="text-dark font-size-18 font-weight-bold mb-3">Welcome to Jira</h3>
        <p>
          New to Jira? Check out the
          <a href="javascript: void(0);" class="text-blue">Jira User's Guide.</a>
        </p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took
          a galley of type and scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting, remaining essentially
          unchanged.
        </p>
      </div>
    </div>
    <div class="card fel__utils__cardMarked fel__utils__cardMarked--primary">
      <div class="card-header card-header-flex">
        <div class="d-flex flex-column justify-content-center">
          <h5 class="mb-0">Revenue</h5>
        </div>
        <div class="ml-auto d-flex flex-column justify-content-center">
          <div>
            <div class="dropdown d-inline-block">
              <button
                type="button"
                class="btn btn-light dropdown-toggle dropdown-toggle-noarrow"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fe fe-more-vertical"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-start">
                <a class="dropdown-item" href="javascript: void(0)">Action</a>
                <a class="dropdown-item" href="javascript: void(0)">Another action</a>
                <a class="dropdown-item" href="javascript: void(0)">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript: void(0)">Separated link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        //= ../../widgets/general/1.html
      </div>
    </div>
    <div class="card">
      //= ../../widgets/general/6.html
    </div>
    <div class="card">
      //= ../../widgets/general/6-1.html
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card fel__utils__cardMarked fel__utils__cardMarked--primary">
      <div class="card-header card-header-flex">
        <div class="d-flex flex-column justify-content-center">
          <h5 class="mb-0">Introduction</h5>
        </div>
        <div class="ml-auto d-flex flex-column justify-content-center">
          <div>
            <div class="dropdown d-inline-block">
              <button
                type="button"
                class="btn btn-light dropdown-toggle dropdown-toggle-noarrow"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fe fe-more-vertical"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-start">
                <a class="dropdown-item" href="javascript: void(0)">Action</a>
                <a class="dropdown-item" href="javascript: void(0)">Another action</a>
                <a class="dropdown-item" href="javascript: void(0)">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript: void(0)">Separated link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p>
          You currently have no <a href="javascript: void(0);" class="text-blue">issues</a> assigned
          to you. Enjoy your day!
        </p>
      </div>
    </div>
    <div class="card fel__utils__cardMarked fel__utils__cardMarked--primary">
      <div class="card-header card-header-flex">
        <div class="d-flex flex-column justify-content-center">
          <h5 class="mb-0">Activity Stream</h5>
        </div>
        <div class="ml-auto d-flex flex-column justify-content-center">
          <div>
            <div class="dropdown d-inline-block">
              <button
                type="button"
                class="btn btn-light dropdown-toggle dropdown-toggle-noarrow"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fe fe-more-vertical"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-start">
                <a class="dropdown-item" href="javascript: void(0)">Action</a>
                <a class="dropdown-item" href="javascript: void(0)">Another action</a>
                <a class="dropdown-item" href="javascript: void(0)">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript: void(0)">Separated link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        //= ../../widgets/list/11.html
      </div>
    </div>
    <div class="card fel__utils__cardMarked fel__utils__cardMarked--primary">
      <div class="card-header card-header-flex">
        <div class="d-flex flex-column justify-content-center">
          <h5 class="mb-0">Statistics</h5>
        </div>
        <div class="ml-auto d-flex flex-column justify-content-center">
          <div>
            <div class="dropdown d-inline-block">
              <button
                type="button"
                class="btn btn-light dropdown-toggle dropdown-toggle-noarrow"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fe fe-more-vertical"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-start">
                <a class="dropdown-item" href="javascript: void(0)">Action</a>
                <a class="dropdown-item" href="javascript: void(0)">Another action</a>
                <a class="dropdown-item" href="javascript: void(0)">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript: void(0)">Separated link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        //= ../../widgets/table/1.html
      </div>
    </div>
  </div>
</div>
