<div class="fel__menuTop">
  <div class="fel__menuTop__outer">
    <div class="fel__menuTop__mobileToggleButton fel__menuTop__mobileActionToggle">
      <span></span>
    </div>
    <a href="javascript: void(0);" class="fel__menuTop__logo">
      <img src="../../components/core/img/fellowary-logo.png" alt="Fellowary" />
      <div class="fel__menuTop__logo__name">Fellowary</div>
      <div class="fel__menuTop__logo__descr">Chat and File Management</div>
    </a>
    <div class="fel__menuTop__container">
      <ul class="fel__menuTop__list">
        <li class="fel__menuTop__item">
          <a href="javascript: void(0)" class="fel__menuTop__link fel__sidebar__actionToggle">
            <i class="fe fe-settings fel__menuTop__icon"></i>
            <span>Settings</span>
          </a>
        </li>
        <li class="fel__menuTop__item">
          <a href="javascript: void(0)" class="fel__menuTop__link">
            <i class="fe fe-compass fel__menuTop__icon"></i>
            <span>Documentation</span>
          </a>
        </li>
        <li class="fel__menuTop__item fel__menuTop__submenu">
          <a href="javascript: void(0)" class="fel__menuTop__link">
            <i class="fe fe-home fel__menuTop__icon"></i>
            <span>Dashboards</span>
            <span class="badge text-white bg-blue-light float-right mt-1 px-2">6</span>
          </a>
          <ul class="fel__menuTop__list">
            <li class="fel__menuTop__item">
              <a href="dashboards-analytics.html" class="fel__menuTop__link">
                <span>Analytics</span>
              </a>
            </li>
            <li class=" fel__menuTop__item">
              <a href="dashboards-statistics.html" class="fel__menuTop__link">
                <span>Statistics</span>
              </a>
            </li>
            <li class=" fel__menuTop__item">
              <a href="dashboards-ecommerce.html" class="fel__menuTop__link">
                <span>Ecommerce</span>
              </a>
            </li>
            <li class=" fel__menuTop__item">
              <a href="dashboards-crypto.html" class="fel__menuTop__link">
                <span>Crypto</span>
              </a>
            </li>
            <li class=" fel__menuTop__item">
              <a href="dashboards-jira.html" class="fel__menuTop__link">
                <span>Jira</span>
              </a>
            </li>
            <li class=" fel__menuTop__item">
              <a href="dashboards-helpdesk.html" class="fel__menuTop__link">
                <span>Helpdesk</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="fel__menuTop__item fel__menuTop__submenu">
          <a href="javascript: void(0)" class="fel__menuTop__link">
            <i class="fe fe-user fel__menuTop__icon"></i>
            <span>System Pages</span>
          </a>
          <ul class="fel__menuTop__list">
            <li class="fel__menuTop__item">
              <a href="../no-layout/system-login.html" class="fel__menuTop__link">
                <span>Login</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="../no-layout/system-forgot-password.html" class="fel__menuTop__link">
                <span>Forgot Password</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="../no-layout/system-register.html" class="fel__menuTop__link">
                <span>Register</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="../no-layout/system-lockscreen.html" class="fel__menuTop__link">
                <span>Lockscreen</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="system-pricing-tables.html" class="fel__menuTop__link">
                <span>Pricing Tables</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="system-invoice.html" class="fel__menuTop__link">
                <span>Invoice</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="../no-layout/system-404.html" class="fel__menuTop__link">
                <span>Page 404</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="../no-layout/system-500.html" class="fel__menuTop__link">
                <span>Page 500</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="fel__menuTop__item fel__menuTop__submenu">
          <a href="javascript: void(0)" class="fel__menuTop__link">
            <i class="fe fe-shopping-cart fel__menuTop__icon"></i>
            <span>Ecommerce</span>
          </a>
          <ul class="fel__menuTop__list">
            <li class="fel__menuTop__item">
              <a href="ecommerce-dashboard.html" class="fel__menuTop__link">
                <span>Dashboard</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="ecommerce-orders.html" class="fel__menuTop__link">
                <span>Orders</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="ecommerce-product-catalog.html" class="fel__menuTop__link">
                <span>Product Catalog</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="ecommerce-product-details.html" class="fel__menuTop__link">
                <span>Product Details</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="ecommerce-cart.html" class="fel__menuTop__link">
                <span>Cart</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="fel__menuTop__item fel__menuTop__submenu">
          <a href="javascript: void(0)" class="fel__menuTop__link">
            <i class="fe fe-database fel__menuTop__icon"></i>
            <span>Apps</span>
          </a>
          <ul class="fel__menuTop__list">
            <li class="fel__menuTop__item">
              <a href="apps-messaging.html" class="fel__menuTop__link">
                <span>Messaging</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="apps-calendar.html" class="fel__menuTop__link">
                <span>Calendar</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="apps-mail.html" class="fel__menuTop__link">
                <span>Mail</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="apps-profile.html" class="fel__menuTop__link">
                <span>Profile</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="apps-gallery.html" class="fel__menuTop__link">
                <span>Gallery</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="fel__menuTop__item fel__menuTop__submenu">
          <a href="javascript: void(0)" class="fel__menuTop__link">
            <i class="fe fe-hard-drive fel__menuTop__icon"></i>
            <span>Extra Apps</span>
          </a>
          <ul class="fel__menuTop__list">
            <li class="fel__menuTop__item">
              <a href="extra-apps-github-explore.html" class="fel__menuTop__link">
                <span>Github Explore</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-apps-github-discuss.html" class="fel__menuTop__link">
                <span>Github Discuss</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-apps-digitalocean-droplets.html" class="fel__menuTop__link">
                <span>DigitalOcean Droplets</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-apps-digitalocean-create.html" class="fel__menuTop__link">
                <span>DigitalOcean Create</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-apps-google-analytics.html" class="fel__menuTop__link">
                <span>Google Analytics</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-apps-wordpress-post.html" class="fel__menuTop__link">
                <span>Wordpress Post</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-apps-wordpress-posts.html" class="fel__menuTop__link">
                <span>Wordpress Posts</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-apps-wordpress-add.html" class="fel__menuTop__link">
                <span>Wordpress Add</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-apps-todoist-list.html" class="fel__menuTop__link">
                <span>Todoist List</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-apps-jira-dashboard.html" class="fel__menuTop__link">
                <span>Jira Dashboard</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-apps-jira-agile-board.html" class="fel__menuTop__link">
                <span>Jira Agile Board</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-apps-helpdesk-dashboard.html" class="fel__menuTop__link">
                <span>Helpdesk Dashboard</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="fel__menuTop__item fel__menuTop__submenu">
          <a href="javascript: void(0)" class="fel__menuTop__link">
            <i class="fe fe-image fel__menuTop__icon"></i>
            <span>Widgets</span>
            <span class="badge text-white bg-blue-light float-right mt-1 px-2">47</span>
          </a>
          <ul class="fel__menuTop__list">
            <li class="fel__menuTop__item">
              <a href="widgets-general.html" class="fel__menuTop__link">
                <span>General</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="widgets-lists.html" class="fel__menuTop__link">
                <span>Lists</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="widgets-tables.html" class="fel__menuTop__link">
                <span>Tables</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="widgets-charts.html" class="fel__menuTop__link">
                <span>Charts</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="fel__menuTop__item fel__menuTop__submenu">
          <a href="javascript: void(0)" class="fel__menuTop__link">
            <i class="fe fe-credit-card fel__menuTop__icon"></i>
            <span>Cards</span>
          </a>
          <ul class="fel__menuTop__list">
            <li class="fel__menuTop__item">
              <a href="bootstrap-cards.html" class="fel__menuTop__link">
                <span>Basic Cards</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-cards-tabbed.html" class="fel__menuTop__link">
                <span>Tabbed Cards</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="fel__menuTop__item fel__menuTop__submenu">
          <a href="javascript: void(0)" class="fel__menuTop__link">
            <i class="fe fe-bookmark fel__menuTop__icon"></i>
            <span>Bootstrap</span>
          </a>
          <ul class="fel__menuTop__list">
            <li class="fel__menuTop__item">
              <a href="bootstrap-tabs-pills-navs.html" class="fel__menuTop__link">
                <span>Tabs / Pills / Navs</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-alerts.html" class="fel__menuTop__link">
                <span>Alerts</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-badge-pills.html" class="fel__menuTop__link">
                <span>Badge / Pills</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-breadcrumb.html" class="fel__menuTop__link">
                <span>Breadcrumb</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-buttons.html" class="fel__menuTop__link">
                <span>Buttons</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-button-group.html" class="fel__menuTop__link">
                <span>Button Group</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-carousel.html" class="fel__menuTop__link">
                <span>Carousel</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-collapse.html" class="fel__menuTop__link">
                <span>Collapse</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-checkbox-radio.html" class="fel__menuTop__link">
                <span>Checkbox / Radio</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-dropdowns.html" class="fel__menuTop__link">
                <span>Dropdowns</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-list-group.html" class="fel__menuTop__link">
                <span>List Group</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-modal.html" class="fel__menuTop__link">
                <span>Modal</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-pagination.html" class="fel__menuTop__link">
                <span>Pagination</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-popovers.html" class="fel__menuTop__link">
                <span>Popovers</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-progress.html" class="fel__menuTop__link">
                <span>Progress</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="bootstrap-tooltips.html" class="fel__menuTop__link">
                <span>Tooltips</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="fel__menuTop__item fel__menuTop__submenu">
          <a href="javascript: void(0)" class="fel__menuTop__link">
            <i class="fe fe-hard-drive fel__menuTop__icon"></i>
            <span>Form Plugins</span>
          </a>
          <ul class="fel__menuTop__list">
            <li class="fel__menuTop__item">
              <a href="form-plugins-bootstrap-select.html" class="fel__menuTop__link">
                <span>Bootstrap Select</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="form-plugins-select2.html" class="fel__menuTop__link">
                <span>Select2</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="form-plugins-form-wizard.html" class="fel__menuTop__link">
                <span>Form Wizard</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="form-plugins-form-validation.html" class="fel__menuTop__link">
                <span>Form Validation</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="form-plugins-autocomplete.html" class="fel__menuTop__link">
                <span>Autocomplete</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="form-plugins-input-mask.html" class="fel__menuTop__link">
                <span>Input Mask</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="form-plugins-file-uploads.html" class="fel__menuTop__link">
                <span>File Uploads</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="form-plugins-extras.html" class="fel__menuTop__link">
                <span>Extras</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="fel__menuTop__item fel__menuTop__submenu">
          <a href="javascript: void(0)" class="fel__menuTop__link">
            <i class="fe fe-hard-drive fel__menuTop__icon"></i>
            <span>Extra Plugins</span>
          </a>
          <ul class="fel__menuTop__list">
            <li class="fel__menuTop__item">
              <a href="extra-plugins-date-picker.html" class="fel__menuTop__link">
                <span>Date Picker</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-plugins-calendar.html" class="fel__menuTop__link">
                <span>Calendar</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-plugins-owl-carousel.html" class="fel__menuTop__link">
                <span>Owl Carousel</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-plugins-slider.html" class="fel__menuTop__link">
                <span>Slider</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-plugins-notifications-alerts.html" class="fel__menuTop__link">
                <span>Notifications / Alerts</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-plugins-loading-progress.html" class="fel__menuTop__link">
                <span>Loading Progress</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-plugins-steps.html" class="fel__menuTop__link">
                <span>Steps</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-plugins-text-editor.html" class="fel__menuTop__link">
                <span>Text Editor</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="extra-plugins-nestable.html" class="fel__menuTop__link">
                <span>Nestable</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="fel__menuTop__item fel__menuTop__submenu">
          <a href="javascript: void(0)" class="fel__menuTop__link">
            <i class="fe fe-menu fel__menuTop__icon"></i>
            <span>Tables</span>
          </a>
          <ul class="fel__menuTop__list">
            <li class="fel__menuTop__item">
              <a href="tables-bootstrap-tables.html" class="fel__menuTop__link">
                <span>Bootstrap Tables</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="tables-datatables.html" class="fel__menuTop__link">
                <span>DataTables</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="tables-editable-tables.html" class="fel__menuTop__link">
                <span>Editable Tables</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="fel__menuTop__item fel__menuTop__submenu">
          <a href="javascript: void(0)" class="fel__menuTop__link">
            <i class="fe fe-pie-chart fel__menuTop__icon"></i>
            <span>Charts</span>
          </a>
          <ul class="fel__menuTop__list">
            <li class="fel__menuTop__item">
              <a href="charts-chartist-js.html" class="fel__menuTop__link">
                <span>Chartist.js</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="charts-chart-js.html" class="fel__menuTop__link">
                <span>Chart.js</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="charts-c3.html" class="fel__menuTop__link">
                <span>C3</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="charts-peity.html" class="fel__menuTop__link">
                <span>Peity</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="fel__menuTop__item fel__menuTop__submenu">
          <a href="javascript: void(0)" class="fel__menuTop__link">
            <i class="fe fe-star fel__menuTop__icon"></i>
            <span>Icons</span>
          </a>
          <ul class="fel__menuTop__list">
            <li class="fel__menuTop__item">
              <a href="icons-feather-icons.html" class="fel__menuTop__link">
                <span>Feather Icons</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="icons-fontawesome.html" class="fel__menuTop__link">
                <span>FontAwesome</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="icons-linearicons-free.html" class="fel__menuTop__link">
                <span>Linearions Free</span>
              </a>
            </li>
            <li class="fel__menuTop__item">
              <a href="icons-icomoon-free.html" class="fel__menuTop__link">
                <span>Icomoon Free</span>
              </a>
            </li>
          </ul>
        </li>
        <li class=" fel__menuTop__item">
          <a href="advanced-form-examples.html" class="fel__menuTop__link">
            <i class="fe fe-menu fel__menuTop__icon"></i>
            <span>Form Examples</span>
          </a>
        </li>
        <li class=" fel__menuTop__item">
          <a href="advanced-email-templates.html" class="fel__menuTop__link">
            <i class="fe fe-mail fel__menuTop__icon"></i>
            <span>Email Templates</span>
          </a>
        </li>
        <li class=" fel__menuTop__item">
          <a href="advanced-utilities.html" class="fel__menuTop__link">
            <i class="fe fe-inbox fel__menuTop__icon"></i>
            <span>Utilities</span>
          </a>
        </li>
        <li class=" fel__menuTop__item">
          <a href="advanced-grid.html" class="fel__menuTop__link">
            <i class="fe fe-grid fel__menuTop__icon"></i>
            <span>Grid</span>
          </a>
        </li>
        <li class=" fel__menuTop__item">
          <a href="advanced-typography.html" class="fel__menuTop__link">
            <i class="fe fe-type fel__menuTop__icon"></i>
            <span>Typography</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="fel__menuTop__backdrop fel__menuTop__mobileActionToggle"></div>
