<ul class="list-unstyled">
  <li class="fel__l17__item">
    <div class="fel__l17__separator bg-success mr-3"></div>
    <label class="fel__utils__control fel__utils__control__checkbox mb-0">
      <input type="checkbox" checked="checked" />
      <span class="fel__utils__control__indicator"></span>
      <div class="d-inline-block">
        <div>Payment Received</div>
        <div class="text-muted">From themeforest</div>
      </div>
    </label>
  </li>
  <li class="fel__l17__item">
    <div class="fel__l17__separator bg-primary mr-3"></div>
    <label class="fel__utils__control fel__utils__control__checkbox mb-0">
      <input type="checkbox" checked="checked" />
      <span class="fel__utils__control__indicator d-block"></span>
      <div class="d-inline-block">
        <div>Payment Approved</div>
        <div class="text-muted">From themeforest</div>
      </div>
    </label>
  </li>
  <li class="fel__l17__item">
    <div class="fel__l17__separator mr-3"></div>
    <label class="fel__utils__control fel__utils__control__checkbox mb-0">
      <input type="checkbox" />
      <span class="fel__utils__control__indicator d-block"></span>
      <div class="d-inline-block">
        <div>Payment Received</div>
        <div class="text-muted">From Paypal</div>
      </div>
    </label>
  </li>
  <li class="fel__l17__item">
    <div class="fel__l17__separator mr-3 bg-danger"></div>
    <label class="fel__utils__control fel__utils__control__checkbox mb-0">
      <input type="checkbox" />
      <span class="fel__utils__control__indicator d-block"></span>
      <div class="d-inline-block">
        <div>Withdrawal Failed</div>
        <div class="text-muted">From Bitcoin Address</div>
      </div>
    </label>
  </li>
  <li class="fel__l17__item">
    <div class="fel__l17__separator bg-info mr-3"></div>
    <label class="fel__utils__control fel__utils__control__checkbox mb-0">
      <input type="checkbox" />
      <span class="fel__utils__control__indicator d-block"></span>
      <div class="d-inline-block">
        <div>Payment Received</div>
        <div class="text-muted">From themeforest</div>
      </div>
    </label>
  </li>
  <li class="fel__l17__item">
    <div class="fel__l17__separator mr-3"></div>
    <label class="fel__utils__control fel__utils__control__checkbox mb-0">
      <input type="checkbox" />
      <span class="fel__utils__control__indicator d-block"></span>
      <div class="d-inline-block">
        <div>Payment Received</div>
        <div class="text-muted">From themeforest</div>
      </div>
    </label>
  </li>
  <li class="fel__l17__item">
    <div class="fel__l17__separator mr-3"></div>
    <label class="fel__utils__control fel__utils__control__checkbox mb-0">
      <input type="checkbox" />
      <span class="fel__utils__control__indicator d-block"></span>
      <div class="d-inline-block">
        <div>Payment Received</div>
        <div class="text-muted">From themeforest</div>
      </div>
    </label>
  </li>
</ul>
