<div class="card-header card-header-flex">
  <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-bold nav-tabs-noborder nav-tabs-stretched">
    <li class="nav-item" role="tablist">
      <a
        href="#tab-alert-content"
        class="nav-link active"
        id="tab-alert"
        data-toggle="tab"
        aria-selected="true"
      >
        Alerts
      </a>
    </li>
    <li class="nav-item">
      <a
        href="#tab-events-content"
        class="nav-link"
        id="tab-events"
        data-toggle="tab"
        aria-selected="false"
      >
        Events
      </a>
    </li>
    <li class="nav-item">
      <a
        href="#tab-actions-content"
        class="nav-link"
        id="tab-actions"
        data-toggle="tab"
        aria-selected="false"
      >
        Actions
      </a>
    </li>
  </ul>
</div>
<div class="card-body">
  <div class="height-300 fel__customScroll">
    <div class="tab-content">
      <div
        class="tab-pane fade show active"
        id="tab-alert-content"
        role="tabpanel"
        aria-labelledby="tab-alert-content"
      >
        <ul class="list-unstyled">
          <li class="mb-3">
            <div class="fel__l2__head">
              <p class="fel__l2__title">
                Update Status:
                <strong class="text-black">New</strong>
              </p>
              <time class="fel__l2__time">5 min ago</time>
            </div>
            <p class="fel__l2__content">
              Mary has approved your quote.
            </p>
          </li>
          <li class="mb-3">
            <div class="fel__l2__head">
              <p class="fel__l2__title">
                Update Status:
                <strong class="text-danger">Rejected</strong>
              </p>
              <time class="fel__l2__time">15 min ago</time>
            </div>
            <p class="fel__l2__content">
              Mary has declined your quote.
            </p>
          </li>
          <li class="mb-3">
            <div class="fel__l2__head">
              <p class="fel__l2__title">
                Payment Received:
                <strong class="text-black">$5,467.00</strong>
              </p>
              <time class="fel__l2__time">15 min ago</time>
            </div>
            <p class="fel__l2__content">
              GOOGLE, LLC AUTOMATED PAYMENTS PAYMENT
            </p>
          </li>
          <li class="mb-3">
            <div class="fel__l2__head">
              <p class="fel__l2__title">
                Notification:
                <strong class="text-danger">Access Denied</strong>
              </p>
              <time class="fel__l2__time">5 Hours ago</time>
            </div>
            <p class="fel__l2__content">
              The system prevent login to your account
            </p>
          </li>
          <li class="mb-3">
            <div class="fel__l2__head">
              <p class="fel__l2__title">
                Payment Received:
                <strong class="text-black">$55,829.00</strong>
              </p>
              <time class="fel__l2__time">1 day ago</time>
            </div>
            <p class="fel__l2__content">
              GOOGLE, LLC AUTOMATED PAYMENTS PAYMENT
            </p>
          </li>
          <li class="mb-3">
            <div class="fel__l2__head">
              <p class="fel__l2__title">
                Notification:
                <strong class="text-danger">Access Denied</strong>
              </p>
              <time class="fel__l2__time">5 Hours ago</time>
            </div>
            <p class="fel__l2__content">
              The system prevent login to your account
            </p>
          </li>
        </ul>
      </div>
      <div
        class="tab-pane fade"
        id="tab-events-content"
        role="tabpanel"
        aria-labelledby="tab-alert-content"
      >
        Events
      </div>
      <div
        class="tab-pane fade"
        id="tab-actions-content"
        role="tabpanel"
        aria-labelledby="tab-alert-content"
      >
        Actions
      </div>
    </div>
  </div>
</div>
