<div class="fel__l7">
  <ul class="fel__l7__list list-unstyled">
    <li class="fel__l7__item">
      <a href="javascript: void(0);" class="fel__l7__itemLink">
        <div class="fel__l7__itemMeta">
          <div class="fel__utils__donut fel__utils__donut--gray-2 fel__utils__donut--md"></div>
        </div>
        <div class="mr-3">
          <div>Payment Received</div>
          <div class="text-muted">Mary has approved your quote.</div>
        </div>
        <div class="fel__l7__itemAction">
          <span></span>
          <span></span>
        </div>
      </a>
    </li>
    <li class="fel__l7__item">
      <a href="javascript: void(0);" class="fel__l7__itemLink">
        <div class="fel__l7__itemMeta">
          <div class="fel__utils__donut fel__utils__donut--success fel__utils__donut--md"></div>
        </div>
        <div class="mr-3">
          <div>Account Activated</div>
          <div class="text-muted">Mary has approved your quote.</div>
        </div>
        <div class="fel__l7__itemAction">
          <span></span>
          <span></span>
        </div>
      </a>
    </li>
    <li class="fel__l7__item">
      <a href="javascript: void(0);" class="fel__l7__itemLink">
        <div class="fel__l7__itemMeta">
          <div class="fel__utils__donut fel__utils__donut--danger fel__utils__donut--md"></div>
        </div>
        <div class="mr-3">
          <div>User Deleted</div>
          <div class="text-muted">Mary has approved your quote.</div>
        </div>
        <div class="fel__l7__itemAction">
          <span></span>
          <span></span>
        </div>
      </a>
    </li>
    <li class="fel__l7__item">
      <a href="javascript: void(0);" class="fel__l7__itemLink">
        <div class="fel__l7__itemMeta">
          <div class="fel__utils__donut fel__utils__donut--gray-2 fel__utils__donut--md"></div>
        </div>
        <div class="mr-3">
          <div>Message Received</div>
          <div class="text-muted">Mary has approved your quote.</div>
        </div>
        <div class="fel__l7__itemAction">
          <span></span>
          <span></span>
        </div>
      </a>
    </li>
    <li class="fel__l7__item">
      <a href="javascript: void(0);" class="fel__l7__itemLink">
        <div class="fel__l7__itemMeta">
          <div class="fel__utils__donut fel__utils__donut--info fel__utils__donut--md"></div>
        </div>
        <div class="mr-3">
          <div>Account Activated</div>
          <div class="text-muted">Mary has approved your quote.</div>
        </div>
        <div class="fel__l7__itemAction">
          <span></span>
          <span></span>
        </div>
      </a>
    </li>
    <li class="fel__l7__item">
      <a href="javascript: void(0);" class="fel__l7__itemLink">
        <div class="fel__l7__itemMeta">
          <div class="fel__utils__donut fel__utils__donut--gray-2 fel__utils__donut--md"></div>
        </div>
        <div class="mr-3">
          <div>Account Activated</div>
          <div class="text-muted">Mary has approved your quote.</div>
        </div>
        <div class="fel__l7__itemAction">
          <span></span>
          <span></span>
        </div>
      </a>
    </li>
  </ul>
</div>
