<div class="fel__l9">
  <ul class="list-unstyled">
    <li class="fel__l9__item">
      <div class="fel__l9__itemPicContainer">
        <div class="fel__l9__itemPic bg-success"></div>
        <i class="fel__l9__itemIcon text-success fe fe-file-text"></i>
      </div>
      <div>
        <div>
          <strong class="text-primary">Bitcoin</strong> lorem Ipsum is simply dummy text of the
          printing and...
        </div>
        <div class="text-muted">Deposited</div>
      </div>
    </li>
    <li class="fel__l9__item">
      <div class="fel__l9__itemPicContainer">
        <div class="fel__l9__itemPic bg-info"></div>
        <i class="fel__l9__itemIcon text-info fe fe-mail"></i>
      </div>
      <div>
        <div>
          <strong class="text-primary">Litecoint</strong> lorem Ipsum is simply dummy text of the
          printing and...
        </div>
        <div class="text-muted">Deposited by PayPal</div>
      </div>
    </li>
    <li class="fel__l9__item">
      <div class="fel__l9__itemPicContainer">
        <div class="fel__l9__itemPic bg-danger"></div>
        <i class="fel__l9__itemIcon text-danger fe fe-grid"></i>
      </div>
      <div>
        <div><strong>Dash</strong> lorem Ipsum is simply dummy text of the printing and...</div>
        <div class="text-muted">To Dash adress</div>
      </div>
    </li>
    <li class="fel__l9__item">
      <div class="fel__l9__itemPicContainer">
        <div class="fel__l9__itemPic bg-primary"></div>
        <i class="fel__l9__itemIcon text-primary fe fe-database"></i>
      </div>
      <div>
        <div><strong>Bitcoin</strong> lorem Ipsum is simply dummy text of the printing and...</div>
        <div class="text-muted">Deposited</div>
      </div>
    </li>
    <li class="fel__l9__item">
      <div class="fel__l9__itemPicContainer">
        <div class="fel__l9__itemPic bg-success"></div>
        <i class="fel__l9__itemIcon text-success fe fe-flag"></i>
      </div>
      <div>
        <div><strong>Litecoin</strong> lorem Ipsum is simply dummy text of the printing and...</div>
        <div class="text-muted">Deposited by PayPal</div>
      </div>
    </li>
  </ul>
</div>
