<div class="fel__auth">
  <div class="pt-5 pb-5 d-flex align-items-end mt-auto">
    <img src="../../components/core/img/fellowary-logo.png" alt="Fellowary Logo" />
    <div class="fel__utils__logo__text">
      <div class="fel__utils__logo__name text-uppercase text-dark font-size-21">Fellowary</div>
      <div class="fel__utils__logo__descr text-uppercase font-size-12 text-gray-6">
        Admin template
      </div>
    </div>
  </div>
  <div class="fel__auth__container pl-5 pr-5 pt-5 pb-5 bg-white text-center">
    <div class="text-dark font-size-30 mb-4">Reset Password</div>
    <form action="#" class="mb-4">
      <div class="form-group mb-4">
        <input type="text" class="form-control" placeholder="Email Address" />
      </div>
      <button class="text-center btn btn-success w-100 font-weight-bold font-size-18">
        Reset my password
      </button>
    </form>
  </div>
  <div class="text-center font-size-18 pt-4 mb-auto">
    <a href="#" class="font-weight-bold text-blue"
      ><i class="fe fe-arrow-left align"></i> Go Back</a
    >
  </div>
  <div class="mt-auto pb-5 pt-5">
    <ul class="fel__auth__footerNav list-unstyled d-flex mb-2 flex-wrap justify-content-center">
      <li>
        <a href="#">Terms of Use</a>
      </li>
      <li>
        <a href="#">Compliance</a>
      </li>
      <li>
        <a href="#">Support</a>
      </li>
      <li>
        <a href="#">Contacts</a>
      </li>
    </ul>
    <div class="text-gray-4 text-center">© 2019 Mediatec. All rights reserved.</div>
  </div>
</div>
