@import '../../core/css/mixins';

//////////////////////////////////////////////////////////////////////////////////////////
/* TODOIST */

.air {
  &__todoist {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @media (max-width: $sm-max-width) {
      flex-direction: column;
    }

    &__sidebar {
      width: rem(250);
      flex-shrink: 0;

      @media (max-width: $sm-max-width) {
        width: auto;
      }
    }

    &__searchIcon {
      position: absolute;
      color: $gray-4;
      font-size: rem(17);
      top: 50%;
      transform: translateY(-50%);
      left: rem(15);
    }

    &__searchInput {
      border: 1px solid $gray-2;
      border-radius: 5px;
      background-color: $white;
      padding-left: rem(45);
      padding-right: rem(20);
      padding-top: rem(5);
      padding-bottom: rem(4);
      width: 100%;
    }

    &__categories {
      height: 100%;

      @media (max-width: $sm-max-width) {
        margin-bottom: rem(15);
      }
    }

    &__category {
      padding-top: rem(5);
      padding-bottom: rem(8);
      padding-left: rem(10);
      border-radius: 5px;

      &:hover {
        background-color: lighten($gray-1, 2);
      }

      &--current {
        background-color: $gray-1;

        &:hover {
          background-color: $gray-1;
        }
      }

      &--title {
        &:hover {
          background-color: initial;
        }
      }
    }
  }
}
