<div class="bg-gray-2 height-200 d-flex flex-column">
  <div class="card-header card-header-flex border-bottom-0">
    <div class="d-flex flex-column justify-content-center">
      <h5 class="mb-0 text-color-6">Basic Card</h5>
    </div>
    <div class="ml-auto d-flex flex-column justify-content-center">
      <div>
        <div class="dropdown d-inline-block">
          <button
            type="button"
            class="btn btn-light dropdown-toggle dropdown-toggle-noarrow"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fe fe-more-horizontal"></i>
          </button>
          <div
            class="dropdown-menu dropdown-menu-right"
            role="menu"
            x-placement="bottom-end"
            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-118px, 35px, 0px);"
          >
            <a class="dropdown-item" href="javascript: void(0)">Action</a>
            <a class="dropdown-item" href="javascript: void(0)">Another action</a>
            <a class="dropdown-item" href="javascript: void(0)">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript: void(0)">Separated link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 text-center">
    <div class="text-dark font-size-36 font-weight-bold">$657,345</div>
  </div>
</div>
<div class="card card-borderless">
  <div class="text-center">
    <a href="#" class="btn btn-outline-primary fel__g11__centerBtn">Withdraw</a>
  </div>
  <div class="card-header border-bottom-0">
    <div class="d-flex align-items-stretch">
      <ul
        class="nav nav-tabs nav-tabs-line nav-tabs-line-bold nav-tabs-noborder nav-tabs-stretched"
      >
        <li class="nav-item">
          <a class="nav-link active" href="javascript: void(0);" data-toggle="tab">History</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="javascript: void(0);"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            data-toggle="tab"
            >Dropdown</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript: void(0);">Action</a>
            <a class="dropdown-item" href="javascript: void(0);">Another action</a>
            <a class="dropdown-item" href="javascript: void(0);">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript: void(0);">Separated link</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript: void(0);" data-toggle="tab">Actions</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-body">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
    but also the leap into electronic typesetting, remaining essentially unchanged.
  </div>
</div>
