<div class="fel__footer">
  <div class="fel__footer__inner">
    <div class="row">
      <div class="col-md-8">
        <p>
          <strong>
            Fellowary Chat and File Management - When you need to manage your files and coordinate
          </strong>
        </p>
        <p>
          Fellowary Allows you to manage your files among your coworkers securely and privately.
        </p>
        <p>
          &copy; 2020 Fellowary LLC
        </p>
      </div>
      <div class="col-md-4">
        <div class="fel__footer__logo">
          <img src="../../components/core/img/fellowary-logo.png" alt="Fellowary" />
          <div class="fel__footer__logo__name">Fellowary</div>
          <div class="fel__footer__logo__descr">Chat and File Management</div>
        </div>
      </div>
    </div>
  </div>
</div>
