<div class="fel__sidebar">
  <a
    href="javascript: void(0);"
    class="fel__sidebar__close fel__sidebar__actionToggle fe fe-x-circle"
  ></a>
  <h5>
    <strong>Theme Settings</strong>
  </h5>
  <div class="fel__utils__line mb-4" style="margin-top: 19px;"></div>
  <div class="fel__sidebar__scroll">
    <p class="text-muted">
      This component gives possibility to construct custom blocks with any widgets, components and
      elements inside, like this theme settings
    </p>
    <div class="fel__sidebar__type">
      <div class="fel__sidebar__type__title">
        <span>Menu Type</span>
      </div>
      <div class="fel__sidebar__type__items">
        <div class="row">
          <div class="col-6">
            <label class="fel__utils__control fel__utils__control__radio">
              <input type="radio" name="menuType" checked to="body" setting="" />
              <span class="fel__utils__control__indicator"></span>
              Default
            </label>
            <label class="fel__utils__control fel__utils__control__radio hideIfMenuTop">
              <input type="radio" name="menuType" to="body" setting="fel__menu--flyout" />
              <span class="fel__utils__control__indicator"></span>
              Flyout
            </label>
          </div>
          <div class="col-6">
            <label class="fel__utils__control fel__utils__control__radio hideIfMenuTop">
              <input type="radio" name="menuType" to="body" setting="fel__menu--compact" />
              <span class="fel__utils__control__indicator"></span>
              Compact
            </label>
            <label class="fel__utils__control fel__utils__control__radio">
              <input type="radio" name="menuType" to="body" setting="fel__menu--nomenu" />
              <span class=" fel__utils__control__indicator"></span>
              No Menu
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="fel__sidebar__item hideIfMenuTop">
      <div class="fel__sidebar__label">
        Toggled left menu
      </div>
      <div class="fel__sidebar__container">
        <label class="fel__sidebar__switch">
          <input type="checkbox" to="body" setting="fel__menu--toggled" />
          <span class="fel__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="fel__sidebar__item hideIfMenuTop">
      <div class="fel__sidebar__label">
        Unfixed left menu
      </div>
      <div class="fel__sidebar__container">
        <label class="fel__sidebar__switch">
          <input type="checkbox" to="body" setting="fel__menu--unfixed" />
          <span class="fel__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="fel__sidebar__item">
      <div class="fel__sidebar__label">
        Fixed topbar
      </div>
      <div class="fel__sidebar__container">
        <label class="fel__sidebar__switch">
          <input type="checkbox" to="body" setting="fel__layout--fixedHeader" />
          <span class="fel__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="fel__sidebar__item">
      <div class="fel__sidebar__label">
        Menu color
      </div>
      <div class="fel__sidebar__container">
        <div class="fel__sidebar__select" to="body">
          <div
            class="fel__sidebar__select__item fel__sidebar__select__item--white"
            setting="fel__menu--white"
          ></div>
          <div
            class="fel__sidebar__select__item fel__sidebar__select__item--gray"
            setting="fel__menu--gray"
          ></div>
          <div
            class="fel__sidebar__select__item fel__sidebar__select__item--blue"
            setting="fel__menu--blue"
          ></div>
          <div
            class="fel__sidebar__select__item fel__sidebar__select__item--black fel__sidebar__select__item--active"
          ></div>
        </div>
      </div>
    </div>
    <div class="fel__sidebar__item">
      <div class="fel__sidebar__label">
        Flyout menu
      </div>
      <div class="fel__sidebar__container">
        <div class="fel__sidebar__select" to="body">
          <div
            class="fel__sidebar__select__item fel__sidebar__select__item--white"
            setting="fel__menu__submenu--white"
          ></div>
          <div
            class="fel__sidebar__select__item fel__sidebar__select__item--gray"
            setting="fel__menu__submenu--gray"
          ></div>
          <div
            class="fel__sidebar__select__item fel__sidebar__select__item--blue fel__sidebar__select__item--active"
            setting="fel__menu__submenu--blue"
          ></div>
          <div
            class="fel__sidebar__select__item fel__sidebar__select__item--black"
            setting="fel__menu__submenu--black"
          ></div>
        </div>
      </div>
    </div>
    <div class="fel__sidebar__item">
      <div class="fel__sidebar__label">
        Login color
      </div>
      <div class="fel__sidebar__container">
        <div class="fel__sidebar__select" to="body">
          <div
            class="fel__sidebar__select__item fel__sidebar__select__item--white"
            setting="fel__auth--white"
          ></div>
          <div
            class="fel__sidebar__select__item fel__sidebar__select__item--gray fel__sidebar__select__item--active"
            setting=""
          ></div>
          <div
            class="fel__sidebar__select__item fel__sidebar__select__item--blue"
            setting="fel__auth--blue"
          ></div>
          <div
            class="fel__sidebar__select__item fel__sidebar__select__item--black"
            setting="fel__auth--black"
          ></div>
          <div
            class="fel__sidebar__select__item fel__sidebar__select__item--img"
            setting="fel__auth--img"
          ></div>
        </div>
      </div>
    </div>
    <div class="fel__sidebar__item">
      <div class="fel__sidebar__label">
        Content no max-width
      </div>
      <div class="fel__sidebar__container">
        <label class="fel__sidebar__switch">
          <input type="checkbox" to="body" setting="fel__layout--contentNoMaxWidth" />
          <span class="fel__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="fel__sidebar__item">
      <div class="fel__sidebar__label">
        App max-width
      </div>
      <div class="fel__sidebar__container">
        <label class="fel__sidebar__switch">
          <input type="checkbox" to="body" setting="fel__layout--appMaxWidth" />
          <span class="fel__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="fel__sidebar__item">
      <div class="fel__sidebar__label">
        Gray background
      </div>
      <div class="fel__sidebar__container">
        <label class="fel__sidebar__switch">
          <input type="checkbox" to="body" setting="fel__layout--grayBackground" />
          <span class="fel__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="fel__sidebar__item">
      <div class="fel__sidebar__label">
        Gray topbar
      </div>
      <div class="fel__sidebar__container">
        <label class="fel__sidebar__switch">
          <input type="checkbox" to="body" setting="fel__layout--grayTopbar" />
          <span class="fel__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="fel__sidebar__item">
      <div class="fel__sidebar__label">
        Squared card borders
      </div>
      <div class="fel__sidebar__container">
        <label class="fel__sidebar__switch">
          <input type="checkbox" to="body" setting="fel__layout--squaredBorders" />
          <span class="fel__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="fel__sidebar__item">
      <div class="fel__sidebar__label">
        Card shadow
      </div>
      <div class="fel__sidebar__container">
        <label class="fel__sidebar__switch">
          <input type="checkbox" to="body" setting="fel__layout--cardsShadow" />
          <span class="fel__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="fel__sidebar__item">
      <div class="fel__sidebar__label">
        Borderless cards
      </div>
      <div class="fel__sidebar__container">
        <label class="fel__sidebar__switch">
          <input type="checkbox" to="body" setting="fel__layout--borderless" />
          <span class="fel__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="fel__sidebar__item">
      <div class="fel__sidebar__label">
        Menu shadow
      </div>
      <div class="fel__sidebar__container">
        <label class="fel__sidebar__switch">
          <input type="checkbox" to="body" setting="fel__menu--shadow" />
          <span class="fel__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
  </div>
</div>
<button
  class="fel__sidebar__toggleButton fel__sidebar__actionToggle btn btn-rounded btn-light text-nowrap text-dark font-weight-bold font-size-18"
>
  <i class="fe fe-settings text-blue mr-md-2"></i>
  <span class="d-none d-md-inline">Settings</span>
</button>
