<div class="row">
  <div class="col-xl-4 col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap flex-column align-items-center">
          <div class="fel__utils__avatar fel__utils__avatar--size64 mb-3">
            <img src="../../components/core/img/avatars/3.jpg" alt="Mary Stanform" />
          </div>
          <div class="text-center">
            <div class="text-dark font-weight-bold font-size-18">Mary Stanform</div>
            <div class="text-uppercase font-size-12 mb-3">Support team</div>
            <button class="btn btn-primary btn-with-addon">
              <span class="btn-addon">
                <i class="btn-addon-icon fe fe-plus-circle"></i>
              </span>
              Request Access
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card text-white bg-primary">
      <div class="card-body">
        <div class="d-flex mb-1">
          <div class="text-uppercase font-weight-bold mr-auto">
            Revenue
          </div>
          <div>
            +20% Goal Reached
          </div>
        </div>
        <div class="d-flex mb-2">
          <div class="font-size-24 font-weight-bold mr-auto">+3,125</div>
          <div class="font-size-24">5,000</div>
        </div>
        <div class="progress">
          <div class="progress-bar bg-success" style="width: 60%" role="progressbar" aria-valuenow="60"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p class="text-dark font-size-48 font-weight-bold mb-2">
          $29,931
        </p>
        <p class="text-uppercase text-muted mb-3">
          Revenue today
        </p>
        <p class="mb-4">
          Lorem ipsum dolor sit amit,consectetur eiusmdd tempory incididunt ut labore et dolore
          magna elit
        </p>
        <a href="javascript: void(0);" class="btn btn-outline-primary mb-1">View history</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <ul class="list-unstyled">
          <li class="fel__l19__item">
            <div class="fel__l19__itemTime mr-3">16:00</div>
            <div class="fel__l19__itemSeparator">
              <div class="fel__utils__donut fel__utils__donut--danger mr-3"></div>
            </div>
            <div>
              Lorem ipsum dolor sit amit,consectetur eiusmdd tempor incididunt ut labore et dolore
              magna elit enim at minim veniam quis nostrud
            </div>
          </li>
          <li class="fel__l19__item">
            <div class="fel__l19__itemTime mr-3">15:28</div>
            <div class="fel__l19__itemSeparator">
              <div class="fel__utils__donut fel__utils__donut--danger mr-3"></div>
            </div>
            <div>
              David Beckham was registered as administrator
            </div>
          </li>
          <li class="fel__l19__item">
            <div class="fel__l19__itemTime mr-3">14:26</div>
            <div class="fel__l19__itemSeparator">
              <div class="fel__utils__donut fel__utils__donut--danger mr-3"></div>
            </div>
            <div>
              Lorem ipsum dolor sit amit,consectetur eiusmdd tempor incididunt ut labore et dolore
            </div>
          </li>
          <li class="fel__l19__item">
            <div class="fel__l19__itemTime mr-3">13:22</div>
            <div class="fel__l19__itemSeparator">
              <div class="fel__utils__donut fel__utils__donut--danger mr-3"></div>
            </div>
            <div>
              Lorem ipsum dolor sit amit,consectetur eiusmdd tempor incididunt ut labore et dolore
              magna elit enim at minim veniam quis nostrud
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-lg-12">
    <div class="card">
      <div class="card-header card-header-flex flex-column">
        <div class="d-flex flex-wrap fel__profile__info pt-3 pb-4  mb-3">
          <div class="mr-5">
            <div class="text-dark font-size-18 font-weight-bold">David Beckham</div>
            <div class="text-gray-6">@david100</div>
          </div>
          <div class="mr-5 text-center">
            <div class="text-dark font-size-18 font-weight-bold">100</div>
            <div class="text-gray-6">Posts</div>
          </div>
          <div class="mr-5 text-center">
            <div class="text-dark font-size-18 font-weight-bold">17,256</div>
            <div class="text-gray-6">Followers</div>
          </div>
        </div>
        <div class="d-flex align-items-stretch mt-auto">
          <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-bold nav-tabs-noborder nav-tabs-stretched">
            <li class="nav-item">
              <a class="nav-link active" href="#tab-wall-content" data-toggle="tab" aria-selected="true"
                id="tab-wall">Agent Wall</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab-messages-content" data-toggle="tab" aria-selected="false"
                id="tab-messages">Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab-settings-content" data-toggle="tab" id="tab-settings">Settings</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-wall-content" role="tabpanel"
            aria-labelledby="tab-wall-content">
            <div class="mb-4">
              <div>
                //= ../../widgets/general/15.html
              </div>
              <div>
                //= ../../widgets/general/15.html
              </div>
            </div>
            <a href="javascript: void(0);" class="btn btn-light text-primary d-block mb-3">
              Load More
            </a>
          </div>
          <div class="tab-pane fade" id="tab-messages-content" role="tabpanel" aria-labelledby="tab-messages-content">
            <div class="height-300 d-flex flex-column justify-content-end">
              <div class="fel__g14__contentWrapper fel__customScroll">
                <div class="fel__g14__message">
                  <div class="fel__g14__messageContent">
                    <div class="text-gray-4 font-size-12 text-uppercase">You, 5 min ago</div>
                    <div>
                      Hi! Anyone here? I want to know how I can buy Fellowary?
                    </div>
                  </div>
                  <div class="fel__g14__messageAvatar fel__utils__avatar">
                    <img src="../../components/core/img/avatars/avatar-2.png" alt="You" />
                  </div>
                </div>
                <div class="fel__g14__message fel__g14__message--answer">
                  <div class="fel__g14__messageContent">
                    <div class="text-gray-4 font-size-12 text-uppercase">Mary, 14 sec ago</div>
                    <div>
                      Please call us + 100 295 000
                    </div>
                  </div>
                  <div class="fel__g14__messageAvatar fel__utils__avatar">
                    <img src="../../components/core/img/avatars/2.jpg" alt="Mary Stanform" />
                  </div>
                </div>
              </div>
            </div>
            <div class="pt-2 pb-2">
              Mary is typing...
            </div>
            <div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Send message..." aria-label="Recipient's username"
                  aria-describedby="button-addon2" />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fe fe-send align-middle"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-settings-content" role="tabpanel" aria-labelledby="tab-settings-content">
            <h5 class="text-black mt-4">
              <strong>Personal Information</strong>
            </h5>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="l0">Username</label>
                  <input type="text" class="form-control" id="l0" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="l1">Email</label>
                  <input type="email" class="form-control" id="l1" />
                </div>
              </div>
            </div>
            <h5 class="text-black mt-4">
              <strong>Password</strong>
            </h5>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="l3">Password</label>
                  <input type="password" class="form-control" id="l3" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="l4">Password</label>
                  <input type="password" class="form-control" id="l4" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <h5 class="text-black mt-4">
                  <strong>Profile Avatar</strong>
                </h5>
                <div class="form-group">
                  <label class="form-control-label" for="l6">File Upload</label>
                  <input type="file" id="l6" />
                </div>
              </div>
              <div class="col-lg-6">
                <h5 class="text-black mt-4">
                  <strong>Profile Background</strong>
                </h5>
                <div class="form-group">
                  <label class="form-control-label" for="l5">File Upload</label>
                  <input type="file" id="l5" />
                </div>
              </div>
            </div>
            <div class="form-actions">
              <div class="form-group">
                <button type="button" class="btn width-200 btn-primary">Submit</button>
                <button type="button" class="btn btn-default">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>