<div class="card">
  <div class="card-body">
    <h6 class="mb-4 text-uppercase">
      <strong>Order items</strong>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover text-right mb-4">
        <thead class="thead-default">
          <tr>
            <th class="text-center">#</th>
            <th class="text-left">Description</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Unit Cost</th>
            <th class="text-right">Total</th>
            <th>
              <!-- -->
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">1</td>
            <td class="text-left">
              <a href="javascript: void(0);" class="btn btn-sm btn-light"
                >Server hardware purchase</a
              >
            </td>
            <td class="text-right">
              <input type="text" class="form-control width-50" value="2" />
            </td>
            <td class="text-right">$75.00</td>
            <td>$2,152.00</td>
            <td>
              <a href="javascript: void(0);" class="btn btn-sm btn-light"
                ><i class="fe fe-trash"> <!-- --></i> Remove</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-center">2</td>
            <td class="text-left">
              <a href="javascript: void(0);" class="btn btn-sm btn-light"
                >Office furniture purchase</a
              >
            </td>
            <td class="text-right">
              <input type="text" class="form-control width-50" value="3" />
            </td>
            <td class="text-right">$169.00</td>
            <td>$4,169.00</td>
            <td>
              <a href="javascript: void(0);" class="btn btn-sm btn-light"
                ><i class="fe fe-trash"> <!-- --></i> Remove</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-center">3</td>
            <td class="text-left">
              <a href="javascript: void(0);" class="btn btn-sm btn-light"
                >Company Anual Dinner Catering</a
              >
            </td>
            <td class="text-right">
              <input type="text" class="form-control width-50" value="14" />
            </td>
            <td class="text-right">$49.00</td>
            <td>$1,260.00</td>
            <td>
              <a href="javascript: void(0);" class="btn btn-sm btn-light"
                ><i class="fe fe-trash"> <!-- --></i> Remove</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-center">4</td>
            <td class="text-left">
              <a href="javascript: void(0);" class="btn btn-sm btn-light">Payment for Jan 2016</a>
            </td>
            <td class="text-right">
              <input type="text" class="form-control width-50" value="10" />
            </td>
            <td class="text-right">$12.00</td>
            <td>$866.00</td>
            <td>
              <a href="javascript: void(0);" class="btn btn-sm btn-light"
                ><i class="fe fe-trash"> <!-- --></i> Remove</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <h6 class="mb-4 text-uppercase">
      <strong>Shipment details</strong>
    </h6>
    <div class="row mb-4">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="l31">Email</label>
              <input type="text" class="form-control" id="l31" placeholder="Email" required="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="l32">Phone Number</label>
              <input
                type="text"
                class="form-control"
                id="l32"
                placeholder="Phone Number"
                required=""
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="l33">Name</label>
              <input type="text" class="form-control" id="l33" placeholder="Name" required="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="l34">Surname</label>
              <input type="text" class="form-control" id="l34" placeholder="Surname" required="" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="l35">City</label>
          <input type="text" class="form-control" id="l35" placeholder="City" required="" />
        </div>
        <div class="form-group">
          <label for="l36">Address</label>
          <input type="text" class="form-control mb-3" id="l36" placeholder="Address" required="" />
          <input type="text" class="form-control" placeholder="Address" required="" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="font-size-24">
          <i class="fa fa-cc-visa text-primary"></i>
          <i class="fa fa-cc-mastercard text-default"></i>
          <i class="fa fa-cc-amex text-default"></i>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
        </p>
      </div>
    </div>
    <h6 class="mb-4 text-uppercase">
      <strong>Billing details</strong>
    </h6>
    <div class="row mb-4">
      <div class="col-lg-8">
        <div class="form-group">
          <label for="l41">Card Number</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fe fe-credit-card"></i>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Card Number" id="l41" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label for="l44">Expiration Date</label>
              <input type="text" class="form-control" id="l44" placeholder="MM / YY" required="" />
            </div>
          </div>
          <div class="col-md-5 pull-right">
            <div class="form-group">
              <label for="l43">CVC Code</label>
              <input type="text" class="form-control" id="l43" placeholder="CVC" required="" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="l42">Card Name</label>
          <input type="text" class="form-control" id="l42" placeholder="Name and Surname" />
        </div>
      </div>
    </div>
    <div class="border-top text-dark font-size-18 pt-4 text-right">
      <p class="mb-1">Sub - Total amount: <strong class="font-size-24">$5,700.00</strong></p>
      <p class="mb-1">VAT: <strong class="font-size-24">$57.00</strong></p>
      <p class="mb-4">Grand Total: <strong class="font-size-36">$5,757.00</strong></p>
      <a href="javascript: void(0);" class="btn btn-lg btn-success width-200 mb-2">Order Now</a>
    </div>
  </div>
</div>
