<div class="row">
  <div class="col-xl-8 col-lg-12">
    <div class="card">
      <div class="card-header card-header-flex">
        <div class="d-flex align-items-stretch">
          <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-bold nav-tabs-noborder nav-tabs-stretched">
            <li class="nav-item">
              <a class="nav-link active" href="#tab-orders-content" data-toggle="tab" id="tab-orders">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab-revenue-content" data-toggle="tab" id="tab-revenue">Revenue</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body">
        <div class="tab-pane" id="tab-orders-content" role="tabpanel" aria-labelledby="tab-orders-content">
          //= ../../components/widgets/chart/3.html
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header card-header-flex">
        <div class="d-flex align-items-stretch">
          <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-bold nav-tabs-noborder nav-tabs-stretched">
            <li class="nav-item">
              <a class="nav-link active" href="#tab-bestsellers-content" data-toggle="tab"
                id="tab-bestsellers">Bestsellers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab-mostviewed-content" data-toggle="tab" id="tab-mostviewed">Most Viewed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab-highrated-content" data-toggle="tab" id="tab-highrated">Highest Rated</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="card overflow-hidden">
              <div class="fel__ecommerce__productMark">New</div>
              <div class="card-body">
                <a class="fel__ecommerce__productFavorite text-gray-3" href="javascript: void(0);"><i
                    class="fe fe-heart font-size-21"></i></a>
                <div class="border-bottom height-250 fel__ecommerce__productImage mb-3">
                  <img class="img-fluid" src="../../components/core/img/products/001.jpg" alt="Product" />
                </div>
                <div class="font-size-24 font-weight-bold text-dark mb-2">
                  $199.28 <del class="align-text-top font-size-14">$299.28</del>
                </div>
                <div>
                  <a href="javascript:void(0);" class="text-blue font-size-18">
                    TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Routers
                    for Home
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card overflow-hidden">
              <div class="card-body">
                <a class="fel__ecommerce__productFavorite text-dark" href="javascript: void(0);"><i
                    class="fe fe-heart font-size-21"></i></a>
                <div class="border-bottom height-250 fel__ecommerce__productImage mb-3">
                  <img class="img-fluid" src="../../components/core/img/products/002.jpg" alt="Product" />
                </div>
                <div class="font-size-24 font-weight-bold text-dark mb-2">
                  $99.99 <del class="align-text-top font-size-14">$199.99</del>
                </div>
                <div>
                  <a href="javascript:void(0);" class="text-blue font-size-18">
                    TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Routers
                    for Home
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card overflow-hidden">
              <div class="card-body">
                <a class="fel__ecommerce__productFavorite text-dark" href="javascript: void(0);"><i
                    class="fe fe-heart font-size-21"></i></a>
                <div class="border-bottom height-250 fel__ecommerce__productImage mb-3">
                  <img class="img-fluid" src="../../components/core/img/products/003.jpg" alt="Product" />
                </div>
                <div class="font-size-24 font-weight-bold text-dark mb-2">
                  $99.99 <del class="align-text-top font-size-14">$199.99</del>
                </div>
                <div>
                  <a href="javascript:void(0);" class="text-blue font-size-18">
                    TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Routers
                    for Home
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card overflow-hidden">
              <div class="card-body">
                <a class="fel__ecommerce__productFavorite text-dark" href="javascript: void(0);"><i
                    class="fe fe-heart font-size-21"></i></a>
                <div class="border-bottom height-250 fel__ecommerce__productImage mb-3">
                  <img class="img-fluid" src="../../components/core/img/products/002.jpg" alt="Product" />
                </div>
                <div class="font-size-24 font-weight-bold text-dark mb-2">
                  $99.99 <del class="align-text-top font-size-14">$199.99</del>
                </div>
                <div>
                  <a href="javascript:void(0);" class="text-blue font-size-18">
                    TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Routers
                    for Home
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12">
    <div class="card text-white bg-success">
      <div class="card-body">
        //= ../../components/widgets/general/2-3.html
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        //= ../../components/widgets/general/2.html
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        //= ../../components/widgets/general/2-1.html
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        //= ../../components/widgets/general/2-2.html
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        //= ../../components/widgets/list/11.html
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        //= ../../components/widgets/list/12.html
      </div>
    </div>
  </div>
</div>

<script>
  /////////////////////////////////////////////////////////////////////////////////////////
  // "ECOMMERCE" module scripts

  ; (function ($) {
    'use strict'
    $(function () {
      /////////////////////////////////////////////////////////////////////////////////////////

      $('.fel__ecommerce__productFavorite').on('click', function () {
        $(this).toggleClass('text-dark')
      })

      /////////////////////////////////////////////////////////////////////////////////////////
    })
  })(jQuery)
</script>