<div class="row">
  <div class="col-xl-4 col-lg-6">
    <div class="card overflow-hidden">
      <div class="fel__ecommerce__productMark">New</div>
      <div class="card-body">
        <a class="fel__ecommerce__productFavorite text-gray-3" href="javascript: void(0);"><i
            class="fe fe-heart font-size-21"></i></a>
        <div class="border-bottom height-250 fel__ecommerce__productImage mb-3">
          <img class="fel__ecommerce__productPhoto img-fluid" src="../../components/core/img/products/001.jpg"
            alt="Product" />
        </div>
        <div class="font-size-24 font-weight-bold text-dark mb-2">
          $199.28 <del class="align-text-top font-size-14">$299.28</del>
        </div>
        <div>
          <a href="javascript:void(0);" class="text-blue font-size-18">
            TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Routers for Home
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card overflow-hidden">
      <div class="card-body">
        <a class="fel__ecommerce__productFavorite text-dark" href="javascript: void(0);"><i
            class="fe fe-heart font-size-21"></i></a>
        <div class="border-bottom height-250 fel__ecommerce__productImage mb-3">
          <img class="img-fluid" src="../../components/core/img/products/002.jpg" alt="Product" />
        </div>
        <div class="font-size-24 font-weight-bold text-dark mb-2">
          $99.99 <del class="align-text-top font-size-14">$199.99</del>
        </div>
        <div>
          <a href="javascript:void(0);" class="text-blue font-size-18">
            TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Routers for Home
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card overflow-hidden">
      <div class="card-body">
        <a class="fel__ecommerce__productFavorite text-dark" href="javascript: void(0);"><i
            class="fe fe-heart font-size-21"></i></a>
        <div class="border-bottom height-250 fel__ecommerce__productImage mb-3">
          <img class="img-fluid" src="../../components/core/img/products/003.jpg" alt="Product" />
        </div>
        <div class="font-size-24 font-weight-bold text-dark mb-2">
          $99.99 <del class="align-text-top font-size-14">$199.99</del>
        </div>
        <div>
          <a href="javascript:void(0);" class="text-blue font-size-18">
            TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Routers for Home
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card overflow-hidden">
      <div class="card-body">
        <a class="fel__ecommerce__productFavorite text-dark" href="javascript: void(0);"><i
            class="fe fe-heart font-size-21"></i></a>
        <div class="border-bottom height-250 fel__ecommerce__productImage mb-3">
          <img class="img-fluid" src="../../components/core/img/products/004.jpg" alt="Product" />
        </div>
        <div class="font-size-24 font-weight-bold text-dark mb-2">
          $99.99 <del class="align-text-top font-size-14">$199.99</del>
        </div>
        <div>
          <a href="javascript:void(0);" class="text-blue font-size-18">
            TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Routers for Home
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card overflow-hidden">
      <div class="fel__ecommerce__productMark">New</div>
      <div class="card-body">
        <a class="fel__ecommerce__productFavorite text-gray-3" href="javascript: void(0);"><i
            class="fe fe-heart font-size-21"></i></a>
        <div class="border-bottom height-250 fel__ecommerce__productImage mb-3">
          <img class="img-fluid" src="../../components/core/img/products/001.jpg" alt="Product" />
        </div>
        <div class="font-size-24 font-weight-bold text-dark mb-2">
          $199.28 <del class="align-text-top font-size-14">$299.28</del>
        </div>
        <div>
          <a href="javascript:void(0);" class="text-blue font-size-18">
            TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Routers for Home
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card overflow-hidden">
      <div class="card-body">
        <a class="fel__ecommerce__productFavorite text-gray-3" href="javascript: void(0);"><i
            class="fe fe-heart font-size-21"></i></a>
        <div class="border-bottom height-250 fel__ecommerce__productImage mb-3">
          <img class="img-fluid" src="../../components/core/img/products/002.jpg" alt="Product" />
        </div>
        <div class="font-size-24 font-weight-bold text-dark mb-2">
          $99.99 <del class="align-text-top font-size-14">$199.99</del>
        </div>
        <div>
          <a href="javascript:void(0);" class="text-blue font-size-18">
            TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Routers for Home
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card overflow-hidden">
      <div class="card-body">
        <a class="fel__ecommerce__productFavorite text-gray-3" href="javascript: void(0);"><i
            class="fe fe-heart font-size-21"></i></a>
        <div class="border-bottom height-250 fel__ecommerce__productImage mb-3">
          <img class="img-fluid" src="../../components/core/img/products/003.jpg" alt="Product" />
        </div>
        <div class="font-size-24 font-weight-bold text-dark mb-2">
          $99.99 <del class="align-text-top font-size-14">$199.99</del>
        </div>
        <div>
          <a href="javascript:void(0);" class="text-blue font-size-18">
            TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Routers for Home
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card overflow-hidden">
      <div class="card-body">
        <a class="fel__ecommerce__productFavorite text-dark" href="javascript: void(0);"><i
            class="fe fe-heart font-size-21"></i></a>
        <div class="border-bottom height-250 fel__ecommerce__productImage mb-3">
          <img class="img-fluid" src="../../components/core/img/products/004.jpg" alt="Product" />
        </div>
        <div class="font-size-24 font-weight-bold text-dark mb-2">
          $99.99 <del class="align-text-top font-size-14">$199.99</del>
        </div>
        <div>
          <a href="javascript:void(0);" class="text-blue font-size-18">
            TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Routers for Home
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card overflow-hidden">
      <div class="card-body">
        <a class="fel__ecommerce__productFavorite text-gray-3" href="javascript: void(0);"><i
            class="fe fe-heart font-size-21"></i></a>
        <div class="border-bottom height-250 fel__ecommerce__productImage mb-3">
          <img class="img-fluid" src="../../components/core/img/products/002.jpg" alt="Product" />
        </div>
        <div class="font-size-24 font-weight-bold text-dark mb-2">
          $99.99 <del class="align-text-top font-size-14">$199.99</del>
        </div>
        <div>
          <a href="javascript:void(0);" class="text-blue font-size-18">
            TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Routers for Home
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="javascript: void(0);" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
        <li class="page-item">
          <a class="page-link" href="javascript: void(0);">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<script>
  /////////////////////////////////////////////////////////////////////////////////////////
  // "ECOMMERCE" module scripts

  ; (function ($) {
    'use strict'
    $(function () {
      /////////////////////////////////////////////////////////////////////////////////////////
      $('.fel__ecommerce__productFavorite').on('click', function () {
        $(this).toggleClass('text-dark')
      })
      /////////////////////////////////////////////////////////////////////////////////////////
    })
  })(jQuery)
</script>