<div class="d-flex flex-wrap">
  <div class="mr-auto pr-3 my-2">
    <i class="fe fe-book font-size-21 mr-2"></i>
    <div class="text-nowrap d-inline-block font-size-18 text-dark">
      <a class="font-size-18 text-blue" href="javascript: void(0);">umijs</a> /
      <a class="font-size-18 text-blue" href="javascript: void(0);">umi</a>
    </div>
  </div>
  <div class="d-flex flex-wrap font-size-16">
    <div class="mr-3 my-2 text-nowrap">
      <i class="fe fe-user-check font-size-21 mr-1"></i>
      Watch
      <strong class="text-dark font-size-18 ml-1">6,870</strong>
    </div>
    <div class="mr-3 my-2 text-nowrap">
      <i class="fe fe-star font-size-21 mr-1"></i>
      Star
      <strong class="text-dark font-size-18 ml-1">16,356</strong>
    </div>
    <div class="mr-3 my-2 text-nowrap">
      <i class="fe fe-copy font-size-21 mr-1"></i>
      Fork
      <strong class="text-dark font-size-18 ml-1">569</strong>
    </div>
  </div>
</div>
<div class="card-header p-0 mb-4">
  <div class="d-flex align-items-stretch">
    <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-bold nav-tabs-noborder nav-tabs-stretched">
      <li class="nav-item">
        <a
          class="nav-link py-3 active"
          href="#tab-code-content"
          data-toggle="tab"
          aria-selected="true"
          id="tab-code"
          >Code</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link py-3"
          href="#tab-issues-content"
          data-toggle="tab"
          aria-selected="false"
          id="tab-issues"
          >Issues <strong class="ml-1">(85)</strong></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link py-3" href="#tab-requests-content" data-toggle="tab" id="tab-requests"
          >Pull requests <strong class="ml-1">(4)</strong></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link py-3" href="#tab-security-content" data-toggle="tab" id="tab-security"
          >Security</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link py-3" href="#tab-insights-content" data-toggle="tab" id="tab-insights"
          >Insights</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="tab-content">
  <div
    class="tab-pane active"
    id="tab-code-content"
    role="tabpanel"
    aria-labelledby="tab-issues-content"
  >
    <div class="text-dark font-size-18 mb-3">
      Pluggable enterprise-level react application framework.
      <a class="text-blue" href="javascript: void(0);">https://umijs.org/</a>
    </div>
    <div class="mb-4">
      <a
        href="javascript: void(0);"
        class="badge text-blue text-uppercase bg-gray-1 font-size-12 mr-2"
        >Umi</a
      >
      <a
        href="javascript: void(0);"
        class="badge text-blue text-uppercase bg-gray-1 font-size-12 mr-2"
        >React-framework</a
      >
      <a
        href="javascript: void(0);"
        class="badge text-blue text-uppercase bg-gray-1 font-size-12 mr-2"
        >Umijs</a
      >
    </div>
    <div class="d-flex flex-wrap justify-content-around border-top border-bottom">
      <div class="mx-3 my-2 text-nowrap">
        <i class="fe fe-arrow-down-right font-size-21 mr-1"></i>
        <strong class="text-dark font-size-18 mr-1">2,128</strong>
        commits
      </div>
      <div class="mx-3 my-2 text-nowrap">
        <i class="fe fe-chevrons-down font-size-21 mr-1"></i>
        <strong class="text-dark font-size-18 mr-1">18</strong>
        branches
      </div>
      <div class="mx-3 my-2 text-nowrap">
        <i class="fe fe-book-open font-size-21 mr-1"></i>
        <strong class="text-dark font-size-18 mr-1">1,286</strong>
        issues
      </div>
      <div class="mx-3 my-2 text-nowrap">
        <i class="fe fe-users font-size-21 mr-1"></i>
        <strong class="text-dark font-size-18 mr-1">26</strong>
        contributes
      </div>
    </div>
    <div class="d-flex flex-wrap border-bottom mb-3">
      <div class="dropdown my-3 mr-3">
        <a
          class="btn btn-light text-blue dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Branch: Master
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Testing</a>
          <a class="dropdown-item" href="#">Developers</a>
          <a class="dropdown-item" href="#">Killer features</a>
        </div>
      </div>
      <a class="btn btn-light text-blue my-3 mr-auto" href="javascript: void(0);">
        New Pull Request
      </a>
      <a class="btn btn-light text-blue my-3 mr-3" href="javascript: void(0);">
        Create New File
      </a>
      <div class="dropdown my-3 mr-3">
        <a
          class="btn btn-success dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink2"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Clone or Download
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
          <a class="dropdown-item" href="#">Clone</a>
          <a class="dropdown-item" href="#">Download</a>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center flex-wrap mb-4">
      <a
        href="javascript: void(0);"
        class="flex-shrink-0 d-flex align-items-center pr-3 mr-auto text-primary mt-1 mb-1"
      >
        <div class="fel__utils__avatar fel__utils__avatar--size27 mr-3 flex-shrink-0">
          <img src="../../components/core/img/avatars/1.jpg" alt="Mary Stanform" />
        </div>
        <div>sorrycc</div>
      </a>
      <div class="mt-1 mb-1">
        Latest commit ab2c07f 23 hours ago
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <td style="width: 25px;">
            <i class="fa fa-folder"></i>
          </td>
          <td>
            <a href="javascript: void(0);">
              css
            </a>
          </td>
          <td class="text-nowrap">information about file</td>
          <td class="text-nowrap">10 minutes ago</td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-folder"></i>
          </td>
          <td>
            <a href="javascript: void(0);">
              fonts
            </a>
          </td>
          <td class="text-nowrap">information about file</td>
          <td class="text-nowrap">18 minutes ago</td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-folder"></i>
          </td>
          <td>
            <a href="javascript: void(0);">
              resources
            </a>
          </td>
          <td class="text-nowrap">information about file</td>
          <td class="text-nowrap">18 minutes ago</td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-folder"></i>
          </td>
          <td>
            <a href="javascript: void(0);">
              dist
            </a>
          </td>
          <td class="text-nowrap">information about file</td>
          <td class="text-nowrap">18 minutes ago</td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-folder"></i>
          </td>
          <td>
            <a href="javascript: void(0);">
              img
            </a>
          </td>
          <td class="text-nowrap">information about file</td>
          <td class="text-nowrap">6 month ago</td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-folder"></i>
          </td>
          <td>
            <a href="javascript: void(0);">
              js
            </a>
          </td>
          <td class="text-nowrap">information about file</td>
          <td class="text-nowrap">3 month ago</td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-file-o"></i>
          </td>
          <td>
            <a href="javascript: void(0);">
              Specificuiion.md
            </a>
          </td>
          <td class="text-nowrap">information about file</td>
          <td class="text-nowrap">6 minutes ago</td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-file-o"></i>
          </td>
          <td>
            <a href="javascript: void(0);">
              Readme.md
            </a>
          </td>
          <td class="text-nowrap">information about file</td>
          <td class="text-nowrap">1 day ago</td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-file-o"></i>
          </td>
          <td>
            <a href="javascript: void(0);">
              index.html
            </a>
          </td>
          <td class="text-nowrap">information about file</td>
          <td class="text-nowrap">11 minutes ago</td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-file-o"></i>
          </td>
          <td>
            <a href="javascript: void(0);">
              text.html
            </a>
          </td>
          <td class="text-nowrap">information about file</td>
          <td class="text-nowrap">10 minutes ago</td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-file-o"></i>
          </td>
          <td>
            <a href="javascript: void(0);">
              gulp.js
            </a>
          </td>
          <td class="text-nowrap">project structure</td>
          <td class="text-nowrap">10 minutes ago</td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-file-o"></i>
          </td>
          <td>
            <a href="javascript: void(0);">
              autoload.php
            </a>
          </td>
          <td class="text-nowrap">project structure</td>
          <td class="text-nowrap">10 minutes ago</td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-file-o"></i>
          </td>
          <td>
            <a href="javascript: void(0);">
              bower.git
            </a>
          </td>
          <td class="text-nowrap">project structure</td>
          <td class="text-nowrap">10 minutes ago</td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-file-o"></i>
          </td>
          <td>
            <a href="javascript: void(0);">
              -exclude.js
            </a>
          </td>
          <td class="text-nowrap">project structure</td>
          <td class="text-nowrap">10 minutes ago</td>
        </tr>
      </table>
    </div>
  </div>
</div>
