<div class="fel__chat">
  <button
    class="fel__chat__toggleButton fel__chat__actionToggle btn btn-rounded btn-light text-nowrap text-dark font-weight-bold font-size-18"
  >
    <i class="fe fe-message-square text-blue mr-md -2"></i>
    <span class="d-none d-md-inline">Support Chat</span>
  </button>
  <div class="fel__chat__container">
    <div class="d-flex flex-wrap mb-2">
      <div class="text-dark font-size-18 font-weight-bold mr-auto">Support Chat</div>
      <button class="fel__g14__closeBtn btn btn-link fel__chat__actionToggle">
        <i class="fe fe-x-square font-size-21 align-middle text-gray-6"></i>
      </button>
    </div>
    <div class="fel__chat__innerContainer d-flex flex-column justify-content-end">
      <div class="fel__g14__contentWrapper fel__customScroll">
        <div class="fel__g14__message">
          <div class="fel__g14__messageContent">
            <div class="text-gray-4 font-size-12 text-uppercase">You, 5 min ago</div>
            <div>
              Hi! Anyone here? I want to know how I can buy Fellowary?
            </div>
          </div>
          <div class="fel__g14__messageAvatar fel__utils__avatar">
            <img src="../../components/core/img/avatars/avatar-2.png" alt="You" />
          </div>
        </div>
        <div class="fel__g14__message fel__g14__message--answer">
          <div class="fel__g14__messageContent">
            <div class="text-gray-4 font-size-12 text-uppercase">Mary, 14 sec ago</div>
            <div>
              Please call us + 100 295 000
            </div>
          </div>
          <div class="fel__g14__messageAvatar fel__utils__avatar">
            <img src="../../components/core/img/avatars/2.jpg" alt="Mary Stanform" />
          </div>
        </div>
      </div>
    </div>
    <div class="pt-2 pb-2">
      Mary is typing...
    </div>
    <div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Send message..."
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fe fe-send align-middle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
