@import '../../core/css/mixins';

//////////////////////////////////////////////////////////////////////////////////////////
/* NETWORK */

.air {
  &__network {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container {
      max-width: rem(505);
      width: 100%;
    }
  }
}
