<div class="table-responsive">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th class="border-bottom-0 font-weight-normal text-gray-6 text-uppercase">
          Action name
        </th>
        <th
          class="border-bottom-0 font-weight-normal text-gray-6 text-uppercase text-right"
          width="50%"
        >
          Progress
        </th>
        <th class="border-bottom-0 font-weight-normal text-gray-6 text-uppercase text-right">
          Value
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>New Users</td>
        <td width="50%">
          <div class="progress">
            <div
              class="progress-bar bg-success"
              style="width: 60%"
              role="progressbar"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </td>
        <td class="font-weight-bold text-right">+3,125</td>
      </tr>
      <tr>
        <td>New Reports</td>
        <td width="50%">
          <div class="progress">
            <div
              class="progress-bar bg-orange"
              style="width: 70%"
              role="progressbar"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </td>
        <td class="font-weight-bold text-right">+643</td>
      </tr>
      <tr>
        <td>Quote Submits</td>
        <td width="50%">
          <div class="progress">
            <div
              class="progress-bar bg-primary"
              style="width: 50%"
              role="progressbar"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </td>
        <td class="font-weight-bold text-right">+982</td>
      </tr>
    </tbody>
  </table>
</div>
