<div class="table-responsive">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th class="border-bottom-0 font-weight-normal text-gray-6 text-uppercase" width="50%">
          Description
        </th>
        <th class="border-bottom-0 font-weight-normal text-gray-6 text-uppercase">Location</th>
        <th class="border-bottom-0 font-weight-normal text-gray-6 text-uppercase text-right">
          Value
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-gray-6" width="50%">
          <div class="text-dark mb-3">New Users</div>
          <div>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.
          </div>
        </td>
        <td class="text-blue">New York</td>
        <td class="font-weight-bold text-right">+3,125</td>
      </tr>
      <tr>
        <td class="text-gray-6" width="50%">
          <div class="text-dark mb-3">New Reports</div>
          <div>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text.
          </div>
        </td>
        <td class="text-blue">Palo Alto</td>
        <td class="font-weight-bold text-right">+643</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="w-100">
          <button type="button" class="btn btn-primary mr-2 mb-2">Save</button>
          <a href="javascript: void(0);" class="btn btn-link">Cancel</a>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
