<div class="text-nowrap text-dark font-size-50 font-weight-bold">
  $29,931 <sup class="text-uppercase text-gray-6 font-size-30">paid</sup>
</div>
<div class="table-responsive">
  <table class="table table-borderless">
    <tr>
      <th style="width: 70px;"></th>
      <th class="border-bottom-0 font-weight-normal text-gray-6 text-uppercase">Action name</th>
      <th class="border-bottom-0 font-weight-normal text-gray-6 text-uppercase">Location</th>
      <th style="width: 80px;"></th>
    </tr>
    <tr>
      <td style="width: 70px;">
        <div class="fel__utils__avatar">
          <img src="../../components/core/img/avatars/5.jpg" alt="Mary Stanform" />
        </div>
      </td>
      <td>
        <div>New Users</div>
        <div class="text-gray-4">Administrator</div>
      </td>
      <td class="text-blue">
        New York
      </td>
      <td class="text-nowrap" style="width: 80px;">
        <button class="btn btn-light">
          <span class="text-blue">Add</span>
        </button>
      </td>
    </tr>
    <tr>
      <td style="width: 70px;">
        <div class="fel__utils__avatar">
          <img src="../../components/core/img/avatars/4.jpg" alt="Jamie Rockstar" />
        </div>
      </td>
      <td>
        <div>New Reports</div>
        <div class="text-gray-4">Support</div>
      </td>
      <td class="text-blue">
        Palo Alto
      </td>
      <td class="text-nowrap" style="width: 80px;">
        <button class="btn btn-light">
          <span class="text-blue">Add</span>
        </button>
      </td>
    </tr>
    <tr>
      <td style="width: 70px;">
        <div class="fel__utils__avatar">
          <img src="../../components/core/img/avatars/3.jpg" alt="Mary Stanform" />
        </div>
      </td>
      <td>
        <div>Quote Submits</div>
        <div class="text-gray-4">Developer</div>
      </td>
      <td class="text-blue">
        Las Vegas
      </td>
      <td class="text-nowrap" style="width: 80px;">
        <button class="btn btn-light">
          <span class="text-blue">Add</span>
        </button>
      </td>
    </tr>
  </table>
</div>
