<div class="fel__gallery">
  <div class="text-uppercase font-weight-bold text-dark mb-3">Galleries</div>
  <div class="d-flex flex-wrap mb-4">
    <label class="fel__utils__control fel__utils__control__checkbox fel__gallery__control">
      <input type="checkbox" checked="checked" />
      <span class="fel__utils__control__indicator"></span>
      Models
    </label>
    <label class="fel__utils__control fel__utils__control__checkbox fel__gallery__control">
      <input type="checkbox" />
      <span class="fel__utils__control__indicator"></span>
      Fashion
    </label>
    <label class="fel__utils__control fel__utils__control__checkbox fel__gallery__control">
      <input type="checkbox" />
      <span class="fel__utils__control__indicator"></span>
      Cars
    </label>
    <label class="fel__utils__control fel__utils__control__checkbox fel__gallery__control">
      <input type="checkbox" />
      <span class="fel__utils__control__indicator"></span>
      Wallpapers
    </label>
  </div>
  <div class="fel__gallery__items d-flex flex-wrap">
    <div class="fel__gallery__item">
      <div class="fel__gallery__itemContent">
        <div class="fel__gallery__itemControl">
          <div class="btn-group fel__gallery__itemControlContainer">
            <button type="button" class="btn">
              <i class="fe fe-edit"></i>
            </button>
            <button type="button" class="btn">
              <i class="fe fe-trash"></i>
            </button>
          </div>
        </div>
        <img src="../../components/core/img/content/photos/1.jpeg" />
      </div>
      <div class="text-gray-6">
        <div>Spacex.jpeg</div>
        <div>1.2mb</div>
      </div>
    </div>
    <div class="fel__gallery__item">
      <div class="fel__gallery__itemContent">
        <div class="fel__gallery__itemControl">
          <div class="btn-group fel__gallery__itemControlContainer">
            <button type="button" class="btn">
              <i class="fe fe-edit"></i>
            </button>
            <button type="button" class="btn">
              <i class="fe fe-trash"></i>
            </button>
          </div>
        </div>
        <img src="../../components/core/img/content/photos/2.jpeg" />
      </div>
      <div class="text-gray-6">
        <div>flower_on_head.jpeg</div>
        <div>768kb</div>
      </div>
    </div>
    <div class="fel__gallery__item">
      <div class="fel__gallery__itemContent">
        <div class="fel__gallery__itemControl">
          <div class="btn-group fel__gallery__itemControlContainer">
            <button type="button" class="btn">
              <i class="fe fe-edit"></i>
            </button>
            <button type="button" class="btn">
              <i class="fe fe-trash"></i>
            </button>
          </div>
        </div>
        <img src="../../components/core/img/content/photos/3.jpeg" />
      </div>
      <div class="text-gray-6">
        <div>pinky.jpeg</div>
        <div>945kb</div>
      </div>
    </div>
    <div class="fel__gallery__item">
      <div class="fel__gallery__itemContent">
        <div class="fel__gallery__itemControl">
          <div class="btn-group fel__gallery__itemControlContainer">
            <button type="button" class="btn">
              <i class="fe fe-edit"></i>
            </button>
            <button type="button" class="btn">
              <i class="fe fe-trash"></i>
            </button>
          </div>
        </div>
        <img src="../../components/core/img/content/photos/4.jpeg" />
      </div>
      <div class="text-gray-6">
        <div>dell2719d.jpeg</div>
        <div>945kb</div>
      </div>
    </div>
    <div class="fel__gallery__item">
      <div class="fel__gallery__itemContent">
        <div class="fel__gallery__itemControl">
          <div class="btn-group fel__gallery__itemControlContainer">
            <button type="button" class="btn">
              <i class="fe fe-edit"></i>
            </button>
            <button type="button" class="btn">
              <i class="fe fe-trash"></i>
            </button>
          </div>
        </div>
        <img src="../../components/core/img/content/photos/5.jpeg" />
      </div>
      <div class="text-gray-6">
        <div>Heating.jpeg</div>
        <div>945kb</div>
      </div>
    </div>
    <div class="fel__gallery__item">
      <div class="fel__gallery__itemContent">
        <div class="fel__gallery__itemControl">
          <div class="btn-group fel__gallery__itemControlContainer">
            <button type="button" class="btn">
              <i class="fe fe-edit"></i>
            </button>
            <button type="button" class="btn">
              <i class="fe fe-trash"></i>
            </button>
          </div>
        </div>
        <img src="../../components/core/img/content/photos/3.jpeg" />
      </div>
      <div class="text-gray-6">
        <div>pinky.jpeg</div>
        <div>945kb</div>
      </div>
    </div>
    <div class="fel__gallery__item">
      <div class="fel__gallery__itemContent">
        <div class="fel__gallery__itemControl">
          <div class="btn-group fel__gallery__itemControlContainer">
            <button type="button" class="btn">
              <i class="fe fe-edit"></i>
            </button>
            <button type="button" class="btn">
              <i class="fe fe-trash"></i>
            </button>
          </div>
        </div>
        <img src="../../components/core/img/content/photos/5.jpeg" />
      </div>
      <div class="text-gray-6">
        <div>Heating.jpeg</div>
        <div>945kb</div>
      </div>
    </div>
    <div class="fel__gallery__item">
      <div class="fel__gallery__itemContent">
        <div class="fel__gallery__itemControl">
          <div class="btn-group fel__gallery__itemControlContainer">
            <button type="button" class="btn">
              <i class="fe fe-edit"></i>
            </button>
            <button type="button" class="btn">
              <i class="fe fe-trash"></i>
            </button>
          </div>
        </div>
        <img src="../../components/core/img/content/photos/2.jpeg" />
      </div>
      <div class="text-gray-6">
        <div>flower_on_head.jpeg</div>
        <div>768kb</div>
      </div>
    </div>
    <div class="fel__gallery__item">
      <div class="fel__gallery__itemContent">
        <div class="fel__gallery__itemControl">
          <div class="btn-group fel__gallery__itemControlContainer">
            <button type="button" class="btn">
              <i class="fe fe-edit"></i>
            </button>
            <button type="button" class="btn">
              <i class="fe fe-trash"></i>
            </button>
          </div>
        </div>
        <img src="../../components/core/img/content/photos/1.jpeg" />
      </div>
      <div class="text-gray-6">
        <div>Spacex.jpeg</div>
        <div>1.2mb</div>
      </div>
    </div>
    <div class="fel__gallery__item">
      <div class="fel__gallery__itemContent">
        <div class="fel__gallery__itemControl">
          <div class="btn-group fel__gallery__itemControlContainer">
            <button type="button" class="btn">
              <i class="fe fe-edit"></i>
            </button>
            <button type="button" class="btn">
              <i class="fe fe-trash"></i>
            </button>
          </div>
        </div>
        <img src="../../components/core/img/content/photos/4.jpeg" />
      </div>
      <div class="text-gray-6">
        <div>dell2719d.jpeg</div>
        <div>945kb</div>
      </div>
    </div>
  </div>
</div>
